/* Info page */
.rules{text-align: left;margin-left: 30px;}
.rules ol{margin-left: 30px;}
#prize_pool{background-color: #b86200;width: 750px;}
#Major_points{background-color: #b86200;width: 750px;}
#Champ_points{background-color: #b86200;width: 750px;}
ol{font-size: 1.3em;}