/* Info page */
.rules{text-align: left;margin-left: 30px;}
.rules ol{margin-left: 30px;}
#prize_pool{color:black; background-color: #acacac;width: 750px;}
#Major_points{color:black; background-color: #acacac;width: 750px;}
#Champ_points{color:black; background-color: #acacac;width: 750px;}