/* Player profiles */
.profiles{display: flex; flex-wrap: wrap; justify-content: center;}
.player-profiles{margin: 0 auto; width: fit-content;}
.profile-card {color: black; background: #fff;border: 1px solid #ccc;border-radius: 8px;padding: 20px;margin-bottom: 20px;box-shadow: 0 2px 5px #0000001a;}
.player-name {margin-top: 0; padding: 5px; border-radius: 10px;}

.profile-details p {margin: 5px 0;}
.profile-details a {display: inline-block;margin: 5px 0;text-decoration: none;border-radius: 5px;}

#member{text-align: center;}
#rank{padding: 5px 0;}
#notfound{color: white;}

#sub{color: white;background-color: #005700;padding: 0 5px}
#coach{color: black;background-color: #00ffdd;padding: 0 5px}
#rookie{color: black; background-color: gold;padding: 0 5px}
#inactive{color: white; background-color: #880101;padding: 0 5px}
#retired{color: white; background-color: #3d3daa;padding: 0 5px}