#data_table{color: white; background-color: #08043d;width: fit-content;border: solid 5px blue;}
#table_type{width: 200px;}

#tableFilter{
    display: flex;
    gap: 20px;
}
.filterList {
    position: relative;
}
.filterList:hover .filterList-content {
    display: flex;
    flex-direction: column;
}
.filterList-content {
    display: none;
    text-align: left;
    position: relative;
    margin: 4px auto;
    padding: 10px;
    background-color: #1f1f7a;
    box-shadow: 0px 8px 16px black;
    border-radius: 5px;
    width: fit-content;
    z-index: 100;
}

#name{border-bottom: solid #ff0000 2px;}
#teamStats{border-bottom: solid #0011ff 2px;}
#perGame{border-bottom: solid #ff9100ff 2px;}
#standings{border-bottom: solid #48ff00 2px;}

/* Watch Tags */
#player{color: #16b900;padding: 0 5px;}
#sub{color: #000;background-color: #00ff00;padding: 0 5px}
#coach{color: #000;background-color: orangered;padding: 0 5px}
#rookie{color: #000; background-color: gold;padding: 0 5px}
#inactive{color: white; background-color: #880101;padding: 0 5px}
#retired{color: white; background-color: #3d3daa;padding: 0 5px}

@media screen and (max-width:1340px){
  #data_table tr {font-size: .7em;}
  p {font-size: .7em;}
  #tableFilter ul{font-size: .7em;}
  label{font-size: .7em;}
  button{font-size: .7em;}
}
