#data_table{width: fit-content;border: solid 5px blue; border-radius: 5px;}
#table_type{width: 200px;}

#tableFilter{display: flex; gap: 20px;}

#name{border-bottom: solid #ff0000 5px;}
#teamStatsTitle{border-bottom: solid #0011ff 5px;}
#perGame{border-bottom: solid #ff9100ff 5px;}
#standings{border-bottom: solid #48ff00 5px;}

@media screen and (max-width:1340px){
  #data_table tr {font-size: .7em;}
  p {font-size: .7em;}
  #tableFilter ul{font-size: .7em;}
  label{font-size: .7em;}
  button{font-size: .7em;}
}