td{font-size: 1.2em;}
#na{background-color: #ff5b5b;}
#nrg{background-color: orangered;}
#ssg{background-color: #ffc400;}
#nine{background-color: #b8b8b8;}
#col{color: white;background-color: #700000;}
#del{color: white;background-color: purple;}
#tu{color: white;background-color: #700000;}
#geng{background-color: gold;}
#poab{color: white;background-color: blue;}
#shop{color: white;background-color: black;}
#qtpg{color: white; background-color: #998200;}
#neth{color: white; background-color: #7a0000;}
#l8{color: white; background-color: black;}

#eu{background-color: #73ffa9;}
#kc{background-color: #0787ff;}
#vit{background-color: yellow;}
#onehundred{background-color: lightblue;}
#nip{background-color: #cbf11e;}
#dig{color: #94316b;background-color: yellow;}
#m8{background-color: #ff0095;}
#geek{color: yellow;background-color: #262677;}
#red{color: white; background-color:#7a0000;}
/* start, asce, jjr, cali, stg, f4wd, nom, red, rrg, sick, smok, syn, atom, dec, bds, dopa, bsk*/

#mena{background-color: orange;}
#flcn{color:white;background-color: green;}
#twis{background-color: #e48494;}
#roc{color: white; background-color: purple;}

#sam{background-color: #01f401;}
#fur{color: white;background-color: black;}
#ts{color: white;background-color: #242020;}
#mibr{color: white; background-color: #000000;}
/* god */

#oce{background-color: #0079ea;}
#wild{color: #ff9090; background-color: rgb(25, 25, 148);}
#hel{background-color: lightblue;}
#tsm{color: white;background-color: black;}
#pwr{background-color: yellow;}
#gzg{background-color: green;}

#apac{background-color: #d500d5;}
#virt{background-color: orange;}
#elv{color: red;background-color: black;}
#lum{background-color: lightblue;}
#pdlc{background-color: #00000000;}

#ssa{background-color: yellow;}
#lim{color: white;background-color: black;}
#fut{color: white;background-color: black;}


/* Watch Tags */
#new{background-color: gold;}
#sub{background-color: #00e200;}
#coach{background-color: orangered;}
#inactive{color: white; background-color: #880101;}
#retired{color: white; background-color: #3d3daa;}