td{font-size: 1.2em;}

/* Availability */
#no{background-color: red;}


#na{background-color: #ff5b5b;}
#nrg{background-color: orangered;}
#ssg{background-color: #ffc400;}
#nine{background-color: #b8b8b8;}
#col{color: white;background-color: #700000;}
#del{color: white;background-color: purple;}
#tu{color: white;background-color: #700000;}
#geng{background-color: gold;}
#poab{color: white;background-color: blue;}
#shop{color: white;background-color: black;}
#qtpg{color: white; background-color: #998200;}
#neth{color: white; background-color: #7a0000;}
#lot8{color: white; background-color: black;}
#evo{background-color: #ff7b00;}
/* #strict{N/A} */
/* #psych{N/A} */

#eu{background-color: #73ffa9;}
#kc{background-color: #0787ff;}
#vit{background-color: yellow;}
#onehundred{background-color: lightblue;}
#nip{background-color: #cbf11e;}
#dig{color: #94316b;background-color: yellow;}
#m8{background-color: #ff0095;}
#geek{color: yellow;background-color: #262677;}
#red{color: white; background-color:#7a0000;}
#syn{background-color: #ffd95b;}
#f4wd{background-color: greenyellow;}
#start{background-color: #a52f2f;}
/* #asce{}
#jjr{} */
#cali{color: #00d300; background-color: orangered;}
/* #stg{}
#nom{}
#red{}
#rrg{}
#sick{}
#smok{}
#atom{}
#dec{} */
#bds{color: white; background-color: #ff126d;}
/* #dopa{}
#bsk{} */

#mena{background-color: orange;}
#flcn{color:white;background-color: green;}
#twis{background-color: #e48494;}
#roc{color: white; background-color: purple;}
#alqad{background-color: #d32c2c;}
#sleep{background-color: #9e9e9e;}
#reds{color: white;background-color: red;}

#sam{background-color: #01f401;}
#fur{color: white;background-color: black;}
#ts{color: white;background-color: #242020;}
#mibr{color: white; background-color: #000000;}
#god{background-color: orange;}
#cori{color: white; background-color: red;}
#moon{color: white; background-color: grey;}

#oce{background-color: #0079ea;}
#wild{color: #ff9090; background-color: #191994;}
#hel{background-color: lightblue;}
#tsm{color: white;background-color: black;}
#pwr{background-color: yellow;}
#gzg{background-color: green;}
#skrim{color: #0000a1; background-color: #ff73dc;}

#apac{background-color: #d500d5;}
#virt{background-color: orange;}
#elv{color: red;background-color: black;}
#lum{background-color: lightblue;}
#pdlc{background-color: #00000000;}
/* #deku{} */
#kino{color: red; background-color: black;}
#godspeed{color:white;background-color: #b39800;}


#ssa{background-color: yellow;}
#lim{color: white;background-color: black;}
#fut{color: white;background-color: black;}
#sevenb{color: yellow; background-color: orangered;}
#lebo{background-color: #ffd95b;}
#hey{background-color: #ffd95b;}


/* Watch Tags */
#rookie{background-color: gold;padding: 0 5px}
#player{color: white; background-color: #000650;padding: 0 5px}
#sub{background-color: #00e200;padding: 0 5px}
#coach{background-color: orangered;padding: 0 5px}
#inactive{color: white; background-color: #880101;padding: 0 5px}
#retired{color: white; background-color: #3d3daa;padding: 0 5px}


/*
#threeoh{}
#fourfour{}
#sevensevenseven{}
#onehundred{}
#onehunx{}
#twelve{}
#twodane{}
#threefivefor{}
#fivem{}
#seventwo{}
#sevenb{}
#nine{}
#akah{}
#alqad{}
#amet{}
#amig{}
#ant{}
#aureon{}
#ausf{}
#belly{}
#ben{}
#bigchung{}
#bigd{}
#bird{}
#birth{}
#blaz{}
#bbc{}
#bluet{}
#bomb{}
#brain{}
#bronze{}
#btf{}
#cali{}
#carl{}
#chip{}
#cmk{}
#cold{}
#coll{}
#col{}
#cori{}
#cosmic{}
#crh{}
#cad{}
#danger{}
#death{}
#deku{}
#del{}
#dig{}
#doodle{}
#eightysix{}
#ekw{}
#elv{}
#empty{}
#end{}
#erased{}
#esp{}
#F/A{}
#f16{}
#f4wd{}
#fellas{}
#flare{}
#flash{}
#flex{}
#fly{}
#fofo{}
#fofl{}
#fur{}
#fut{}
#gas{}
#gamup{}
#geek{}
#geng{}
#gengb{}
#gene{}
#m8{}
#gentle{}
#germherm{}
#godspeed{}
#god{}
#godsent{}
#goldhour{}
#grib{}
#gzg{}
#haibo{}
#happyburr{}
#hel{}
#hera{}
#hey{}
#heyb{}
#hogan{}
#ifitw{}
#icee{}
#infm{}
#invblue{}
#izdream{}
#joga{}
#juice{}
#kc{}
#kino{}
#ant{}
#lafam{}
#laquim{}
#lebo{}
#lesserafim{}
#lnw{}
#lele{}
#levi{}
#lsb{}
#lim{}
#llama{}
#losmarol{}
#lot8{}
#loud{}
#lowblo{}
#luk{}
#lum{}
#macc{}
#mami{}
#mexac{}
#mibr{}
#mission{}
#moon{}
#mrfear{}
#musk{}
#nah{}
#naka{}
#neth{}
#nip{}
#nhnp{}
#noidea{}
#no_team{}
#noname{}
#norms{}
#novo{}
#noxem{}
#nrd{}
#nrg{}
#nxt{}
#oblv{}
#off{}
#ohio{}
#omen{}
#ominus{}
#oryx{}
#over{}
#paif{}
#papo{}
#pepe{}
#pimp{}
#pine{}
#qtpg{}
#poab{}
#piro{}
#polar{}
#praise{}
#prej{}
#pdlc{}
#psych{}
#pulse{}
#pwr{}
#quick{}
#qup{}
#rtt{}
#random{}
#rebt{}
#redd{}
#redt{}
#red{}
#revel{}
#reven{}
#roc{}
#roco{}
#round{}
#rqs{}
#rump{}
#salami{}
#sapp{}
#schn{}
#seap{}
#sharlitt{}
#shind{}
#shmo{}
#shop{}
#sick{}
#skrim{}
#sleep{}
#seshoot{}
#ssg{}
#stick{}
#str1ve{}
#strict{}
#strom{}
#snst{}
#sup{}
#superteam{}
#syn{}
#TBD{}
#teamexe{}
#asce{}
#bds{}
#evo{}
#flcn{}
#floe{}
#phoe{}
#reds{}
#ts{}
#silence{}
#twit{}
#vision{}
#vit{}
#whop{}
#zorn{}
#backseat{}
#boys{}
#finorder{}
#mnn{}
#punish{}
#pups{}
#swimteam{}
#tu{}
#vic{}
#threebm{}
#tnab{}
#trush{}
#tsm{}
#tsur{}
#twenty{}
#twis{}
#uhuh{}
#unit{}
#valk{}
#virtesp{}
#virt{}
#wandlobs{}
#wdk{}
#wesuck{}
#wte{}
#wrg{}
#wifu{}
#wild{}
#woo{}
#xt{}
#yap{}
#yfme{}
#yur{}
#zawoo{}
#zenesp{}
#ziolli{}
#zoo{}
#zzzz{}
*/