/* Availability */
#no{color: black; color: red;}

#na{color: black; background-color: #ff5b5b; padding:2px; border-radius: 5px;}
#eu{color: black; background-color: #73ffa9; padding:2px; border-radius: 5px;}
#mena{color: black; background-color: orange; padding:2px; border-radius: 5px;}
#sam{color: black; background-color: #01f401; padding:2px; border-radius: 5px;}
#oce{color: black; background-color: #0079ea; padding:2px; border-radius: 5px;}
#apac{color: black; background-color: #d500d5; padding:2px; border-radius: 5px;}
#ssa{color: black; background-color: yellow; padding:2px; border-radius: 5px;}

#hey{color: black; background-color: #ffd95b; padding:2px; border-radius: 5px;}


/* Teams */
#startpoint{color: black; background-color: #a52f2f; padding:2px; border-radius: 5px;}
#the_ultimates{color: white;background-color: #700000; padding:2px; border-radius: 5px;}
#nrg{color: black; background-color: orangered; padding:2px; border-radius: 5px;}
#g2_esports{color: red; background-color: black; padding:2px; border-radius: 5px;}
#twisted_minds{color: black; background-color: #e48494; padding:2px; border-radius: 5px;}
#dignitas{color: #94316b;background-color: yellow; padding:2px; border-radius: 5px;}
#team_falcons{color:white;background-color: green; padding:2px; border-radius: 5px;}
#team_vitality{color: black; background-color: yellow; padding:2px; border-radius: 5px;}
#geng_mobil1_racing{color: black; background-color: gold; padding:2px; border-radius: 5px;}
#karmine_corp{color: black; background-color: #0787ff; padding:2px; border-radius: 5px;}
#team_secret{color: white;background-color: #242020; padding:2px; border-radius: 5px;}
#geekay_esports{color: yellow;background-color: #262677; padding:2px; border-radius: 5px;}
#spacestation_gaming{color: black; background-color: #ffc400; padding:2px; border-radius: 5px;}
#nine{color: black; background-color: #b8b8b8; padding:2px; border-radius: 5px;} /**/
#onehun{color: black; background-color: lightblue; padding:2px; border-radius: 5px;}/**/
#sevenblocks{color: yellow; background-color: orangered; padding:2px; border-radius: 5px;}/**/
#tsm{color: white;background-color: black; padding:2px; border-radius: 5px;}
#furia_esports{color: white;background-color: black; padding:2px; border-radius: 5px;}
#pwr{color: black; background-color: yellow; padding:2px; border-radius: 5px;}
#wildcard{color: #ff9090; background-color: #191994; padding:2px; border-radius: 5px;}
#gentle_mates_alpine{color: black; background-color: #ff0095; padding:2px; border-radius: 5px;}
#shopify_rebellion{color: white;background-color: black; padding:2px; border-radius: 5px;}
#complexity_gaming{color: white;background-color: #700000; padding:2px; border-radius: 5px;}
#helfie_chiefs{color: black; background-color: lightblue; padding:2px; border-radius: 5px;}
#al_qadsiah{color: black; background-color: #d32c2c; padding:2px; border-radius: 5px;}
#sleeping{color: black; background-color: #9e9e9e; padding:2px; border-radius: 5px;}
#ninjas_in_pyjamas{color: black; background-color: #cbf11e; padding:2px; border-radius: 5px;}
#team_reds{color: white;background-color: red; padding:2px; border-radius: 5px;}
#deleted_gaming{color: white;background-color: purple; padding:2px; border-radius: 5px;}
#godfidence{color: black; background-color: orange; padding:2px; border-radius: 5px;}
#team_evo{color: black; background-color: #ff7b00; padding:2px; border-radius: 5px;}
#fut_esports{color: white;background-color: black; padding:2px; border-radius: 5px;}
#corinthians_esports{color: white; background-color: red; padding:2px; border-radius: 5px;}
#skrimzworld{color: #0000a1; background-color: #ff73dc; padding:2px; border-radius: 5px;}
#limitless{color: white;background-color: black; padding:2px; border-radius: 5px;}
#moonrise{color: white; background-color: grey; padding:2px; border-radius: 5px;}
#le_bosh{color: black; background-color: #ffd95b; padding:2px; border-radius: 5px;}
#virtuspro{color: black; background-color: orange; padding:2px; border-radius: 5px;}
#caliente{color: #00d300; background-color: orangered; padding:2px; border-radius: 5px;}
#pirates_on_a_boat{color: white;background-color: blue; padding:2px; border-radius: 5px;}
#elevate{color: red;background-color: black; padding:2px; border-radius: 5px;}
#kinotrope_gaming{color: red; background-color: black; padding:2px; border-radius: 5px;}
#f4wd{color: black; background-color: greenyellow; padding:2px; border-radius: 5px;}
#god_speed{color:white;background-color: #b39800; padding:2px; border-radius: 5px;}
#synergy{color: black; background-color: #ffd95b; padding:2px; border-radius: 5px;}
#team_bds{color: white; background-color: #ff126d; padding:2px; border-radius: 5px;}
#mibr{color: white; background-color: #000000; padding:2px; border-radius: 5px;}
#project_delacruz{color: black; background-color: #8d8d8d; padding:2px; border-radius: 5px;}
#pioneers{color: white; background-color: #998200; padding:2px; border-radius: 5px;}
#netherlamericanada{color: white; background-color: #7a0000; padding:2px; border-radius: 5px;}
#lotus_8_esports{color: white; background-color: black; padding:2px; border-radius: 5px;}
#redemption{color: white; background-color:#7a0000; padding:2px; border-radius: 5px;}
#roc_esports{color: white; background-color: #c400c4; padding:2px; border-radius: 5px;}
#ground_zero_gaming{color:white;background-color: green; padding:2px; border-radius: 5px;}
#luminosity_gaming{color: black; background-color: lightblue; padding:2px; border-radius: 5px;}
#hogan_mode{color: black; background-color: gold; padding:2px; border-radius: 5px;}
#amethyst{color: white; background-color: #460046; padding:2px; border-radius: 5px;}
#m80{color: black; background-color: #a5ec17; padding:2px; border-radius: 5px;}

/* 
#fortnite_flick{}
#strictly_business{}
#dekubopdumnem{}
#antique_esport{}
#carl{}
#hey_bro{}
#psycho_rangers{}
#aka_hero{}
#austrian_force{}
#big_dawgs{}
#chippy_chips{}
#cmk{}
#cosmico_esports{}
#dangerous_esports_club{}
#f16_esports{}
#flare_esport{}
#flyback_esports{}
#genesix{}
#heracles_esports{}
#infamous{}
#low_block{}
#mamíferos{}
#nah{}
#nxt{}
#oblivion_esports{}
#off{}
#overlooked{}
#pepegashake{}
#pulse_clan_wcb{}
#quick_esports{}
#randomline{}
#red_devils{}
#schnitzelhaus{}
#shmoo{}
#stromboli{}
#sunset{}
#team_silenced{}
#team_vision{}
#the_backseat_lovers{}
#the_boys{}
#the_vicious{}
#welcome_to_earth{}
#yokohama_f._marinos_esports{}
#yurrrr{}
#zzzz{}
#amigos_do_baait{}
#aureon_esports{}
#belly_bean_boys{}
#ben{}
#big_chungus{}
#bird{}
#birth{}
#blazar_academy{}
#blazebeefcoconut{}
#blue_torch{}
#bomb_squad{}
#brainstorm_esports{}
#bronze_baddies{}
#btf_esports{}
#cold{}
#collegiate_demons{}
#crl_retirement_home{}
#ctrl_alt_defeat{}
#death_cloud_esports{}
#doodle_bangers{}
#eighty6_esports{}/**//*
#ekw{}
#empty_space{}
#endless{}
#erased{}
#espada{}
#fellas{}
#flashes_of_brilliance{}
#flexibility{}
#fofos{}
#gaming_up{}
#geng_mobil1_racing_black{}
#gentlemen{}
#german_hermanos{}
#godsent{}
#golden_hour_esports{}
#gribble_my_balls{}
#haibo{}
#happy_burritos{}
#ice_esports{}
#invaders_blues{}
#iz_im_dreamin{}
#joga_bonito{}
#juiced{}
#la_familia{}
#laquímica_e-sports{}
#le_sserafim{}
#leavenowitness{}
#levitate_esports_club{}
#lil_step_bros{}
#llama_champions{}
#los_maroleiros{}
#louder{}
#luk_esports{}
#maccas_drive_thru{}
#mexaclica{}
#mission_rank_a{}
#mrfearlite{}
#musk{}
#nakamas{}
#no_hat_no_play{}
#no_idea{}
#noname{}
#norms{}
#novo_esports{}
#noxem{}
#nrd_esports{}
#ohio_club{}
#omen_esports{}
#omnius_gaming{}
#oryx_esports{}
#paifhers{}
#papo_de_visão{}
#pimpmyride{}
#pineapple_cake{}
#pirots_3{}
#polar_knights{}
#praise{}
#prejump{}
#qup_mana{}
#reborn_titans{}
#red_torch{}
#revelation{}
#revenue_redeemers{}
#rocos_gaming{}
#rounds{}
#rqs_esports{}
#rumpus_room_wizards{}
#salami{}
#sapphire{}
#seas_and_peas{}
#sharlitt_feenix{}
#shinden{}
#southeast_shooters{}
#stick_mick{}
#str1ve_esports{}
#sup{}
#super_team{}
#team_exe{}
#team_ascend{}
#team_floeppa{}
#team_phoenix{}
#team_twitter{}
#team_whoppa{}
#team_zorn{}
#the_final_order{}
#the_maryland_nibbling_narwhals{}
#the_punishers{}
#the_pups{}
#the_swim_team{}
#three_blind_mice{}
#true_neutral_academy_black{}
#trush_me{}
#tsurani{}
#twentystars{}
#uhuh{}
#unity{}
#valkyrie_array{}
#virtual_esports{}
#wandering_lobsters{}
#we_suck{}
#white_rabbit_gaming{}
#wifu{}
#woo{}
#xt{}
#yapville{}
#zawoo{}
#zen_esports{}
#zookeepers{}
#rtt{}
#gas{}
#ziolli's_forbidden_sons{}
#we_don't_know{}
#lele's{}
#445{}
#2_danes_1_bruv{}
#354_esports{}
#i'm_fine_in_the_west{}
#l'antique_esport{}
#sick!{}
#305{}
#777{}
#100x35_esports{}
#12_bricks{}
#5m_esports{}
#hey_(with_rizz){}
#72pc{}
*/
